:root {
    --heightHeader: 120px;
    --heightFooter: 80px;
}

main {
    padding-bottom: var(--heightFooter);
}

header {
    max-width: 1340px;
    margin: auto;

    height: var(--heightHeader);

    nav {
        position: fixed;
        bottom: 0;

        width: 100%;
        height: var(--heightFooter);

        z-index: 1;

        .menu-item {
            background: var(--warmWit);
            width: 100%;
            height: 100%;

            border-top: 3px solid var(--lichtZwart);

            a {
                display: flex;
                justify-content: center;
                align-items: center;

                text-decoration: none;
                color: var(--lichtZwart);
                padding: 15px 25px;

                height: 100%;
            }
        }
    }

    .logo {
        height: var(--heightHeader);
        position: fixed;
        top: 0;
        z-index: 1;
        border-bottom: 3px solid var(--lichtZwart);
        border-radius: 0;
        background: var(--warmWit);


        width: 100%;
        justify-content: center;

        padding: 15px;
    }
}

header.categories {
    height: fit-content;

    .text {
        margin-top: var(--heightHeader);
    }
}

@media only screen and (min-width: 600px) {
    header {
        height: fit-content;

        padding: calc(3 * var(--pixels));
        margin-bottom: calc(-3 * var(--pixels));

        .logo {
            position: static;

            width: fit-content;
            justify-content: start;

            border: 3px solid var(--lichtZwart);
            border-radius: 8px;
        }

        nav {
            position: static;
            width: fit-content;
            height: fit-content;

            .menu-item {
                width: fit-content;
                height: fit-content;

                border: 3px solid var(--lichtZwart);
                border-radius: 8px;

                a {
                    height: fit-content;
                }
            }
        }
    }

    main {
        padding: 0;
    }
}