.img_container {
    position: relative;

    img {

    }

    i {
        display: flex;
        justify-content: center;
        align-items: center;

        aspect-ratio: 1;
        height: 45px;

        position: absolute;
        bottom: 15px;
        left: 15px;

        border-radius: 9px;
        transition: all .2s ease-in-out;
    }
}

@media only screen and (min-width: 1000px) {
    .img_container i {
        height: 65px;
    }
}