body {
    background: url(https://www.brunobouwman.nl/images/src/marmer.webp) center fixed;
    background-size: cover;
}

.italic {
    font-style: italic;
}

.fc-magenta {
    color: var(--magenta);
}

.fc-red{
    color: var(--red);
}

.mr-5 {
    margin-right: 5px !important;
}

.bg-w {
    background: var(--warmWit);
}